@tailwind base;
@tailwind components;
@tailwind utilities;


*::-webkit-scrollbar {
  display: none;
}
*{
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-margin-top: 100px;
}


.impoFlex{
  display: flex !important;
}
